

body {
    background-color: rgb(255, 255, 255);

}

h1 {
    border-radius: 30px;
    background-color: bisque;
    border: Solid 5px;
    max-width: 400px;
    margin-left: 50px;

    text-align: center;
}
section {
    background-color: azure;
    border: Solid 3px;
    padding: 10px;
    max-width: 500px;
    margin-left: 30px;
    border-radius: 32px 0px 32px 0px;
    box-shadow: 2px 2px 2px 2px bisque;;
}

section h2 {
    background-color: rgb(116, 255, 111);
    border: Solid 3px;
    padding: 10px;
    max-width: 600px;
    border-radius: 16px 0px 16px 0px;
    margin: 0px;
    margin-top: 0px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}
section div p {
    background-color: rgb(239, 255, 165);
    border: Solid 3px;
    padding: 10px;
    max-width: 600px;
    border-radius: 16px 0px 16px 0px;
    margin: 0px;
    margin-top: 20px;
}


