body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

#titulo {
    margin-bottom: 8px;
}

#display {
    width: 1200px;
    max-width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
    box-sizing: border-box;
}

.botones-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;

}

#borrar,
#comprobar {
    padding: 8px 14px;
    font-size: 16px;
    cursor: pointer;
    border: 5px solid grey;
}


#mensaje {
    margin-left: 8px;
    font-weight: 600;
}

#teclado {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    max-width: 100%;
}

.tecla {
    width: 100px;
    height: 100px;
    border: 5px solid grey;
    border-radius: 3px;
    font-size: 40px;
    color: black;
    text-align: center;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;

}