#teclado
{
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    width: 900px;
    
}

.tecla
{
    border: 2b
    px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.borrarLettra
{
    border: 2px solid rgb(77, 77, 77);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: rgb(126, 126, 126);
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}
