body {
    font-family: sans-serif;
    text-align: center;
    margin: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 2px solid #adadad;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 4px;
}


.keyboard {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    margin-top: 50px;
}

.keyboard-row {
    display: flex;
    gap: 8px;
}

.key {
    width: 58px;
    height: 58px;
    border-radius: 6px;
    background-color: #a5a5a5;
    border: none;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}


.key.big {
    width: 92px;
}


.correct {
    background-color: #6aaa64;
    color: white;
}

.present {
    background-color: #c9b458;
    color: white;
}

.absent {
    background-color: #787c7e;
    color: white;
}
