body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 40px);
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.cell,
.key {
    width: 50px;
    height: 50px;
    border: 2px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
}

.key {
    background-color: #ddd;
    border-color: #000000;
    border: 2px solid;
    font-weight: bold;
    padding: 15px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 50px;
}

.keyboard-row {
    display: flex;
    gap: 20px;
}

.key.big {
    width:100px;
}

.correct {
    background-color: #6aaa64;
    color: white;
    border-color: #6aaa64;
}

.present {
    background-color: #c9b458;
    color: white;
    border-color: #c9b458;
}

.absent {
    background-color: #787c7e;
    color: white;
    border-color: #787c7e;
}